* {
    margin: 0px;
}
.parent {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr 1fr 1fr;
    grid-gap: .5em;
    background-color: pink;
    grid-template-areas:
            "header header"
            "nav article"
            "nav ads"
            "footer footer"
}
.header {
    background-color: gold;
    grid-area: header;
}
.nav {
    background-color: peru;
    grid-area: nav;
}
.article {
    background-color: orange;
    grid-area: article;
}
.ads {
    background-color: teal;
    grid-area: ads;
}
.footer {
    background-color: lightgoldenrodyellow;
    grid-area: footer
}